body  
  if authorised
    h1 Welcome to my secret page, you have made it!
      userData.CustomerID
      userData.SerialNumber_ID
  else
    h1 You're not authorised to view this page

    form(action="/search", method="get")
      input(type="text", name="serialNumber")
      input(type="submit", value="SerialNumber_ID")