<%- include layout.ejs %>
        <div class="page-data">
         <div class="data-btn">
         </div>
         <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">No</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th width="120px">Action</th>
                </tr>                               
                <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { %>                 
                <tr>
                    <td><%=(i+1)%></td>
                    <td><%=data[i].SerialNumber_ID%></td>
                    <td><%=data[i].CustomerID%></td>
                    <td><%=data[i].OrderDate%></td>
                    <td><%=data[i].OrderNumber%></td>
                    <td>                      
                    </td>
                </tr>
            <% }
            
             }else{ %>
                 <tr>
                    <td colspan="3">No user</td>
                 </tr>
            <% } %>
                                                             
            </table>
         </div>
        </div>        
<%- include layout.ejs %>