<h1>Users</h1>

<div class='table-toolbar'>
<button type="button" class="btn btn-success" data-action="add">
<span class="fa fa-plus"></span> Add User</button>
</div>
<table class="table table-strpied">
<thead>
  <tr>
   <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
  </tr>
</thead>
<tbody data-region="usersTable"></tbody>
</table>

