

<br />
<br />
<hr />
<form class="form-inline" role="search" action="/Default/Search" method="post">
        <div class="form-group">
            <label for="text">Serial Number: </label>
                <input id="search" name="text" type="text" placeholder="" class="form-control input-md" required="">
                    <button id="submit" name="submit" class="btn btn-default">Submit</button>
            <br />
        </div>
</form>
<br />
<br />
<span class="col-md-3 help-block">help</span>
<div class="col-md-8 help-block">
    Please enter the 2 alphabetical + 5 digit Serial Number to look up authenticity.
   <br />2 자리 영문 + 5 자리 숫자 인증 번호를 입력하세요.

</div>
<br />
<br />
<br />
<br />
<br />
